.goodbye {
  background-color: rgb(92, 17, 29);
  color: white;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  text-align: center;
}

.goodbye .cart-bag {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goodbye h1 {
  margin: 4rem 0;
}

.goodbye p {
  margin-top: 5rem;
}

.goodbye button {
  padding: 0.5rem;
  box-shadow: 0 4px 4px 2px rgb(0, 0, 0, 0.24);
  margin: 0 auto;
}

.goodbye button:active {
  background-color: pink;
}
