.cart-container {
  position: absolute;
  background-color: pink;
  border-radius: 20px;
  right: 1%;
  top: 8.5%;
  padding: 1rem;
  width: 30rem;
  height: 80vh;
  overflow-y: auto;
  z-index: 1;
}

.cart-container .p {
  font-size: larger;
  text-align: center;
  margin: 30% auto;
}

.cart-cancel button {
  position: absolute;
  right: 2%;
  width: 30px;
  height: 30px;
}

.cart-item {
  text-align: center;
  margin-top: 10%;
}

.cart-item h3 {
  font-size: 14px;
  text-align: center;
}

.cart-container::before {
  content: "";
  background-color: rgb(230, 43, 74);
  border-radius: 50%;
  display: block;
  width: 50px;
  height: 50px;
  top: -2.8%;
  left: 18%;
  position: absolute;
  z-index: -2;
}

.cart-item li {
  list-style-type: none;
  border-bottom: 1px solid rgb(230, 43, 74);
  padding: 1.5rem;
}
.cart-item li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 3%;
}

.items-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 3%;
  /* margin-right: 5%; */
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 3%;
}

.actions button {
  width: 30px;
  height: 30px;
  font-size: large;
  border: 2px solid rgb(230, 43, 74);
}

.actions p {
  text-align: center;
  font-size: large;
}

@media screen and (max-width: 600px) {
  .cart-container {
    position: absolute;
    right: 0;
    left: 22%;
    top: 8%;
    padding: 1rem;
    width: 20rem;
    height: 80vh;
    overflow-y: auto;
    z-index: 1;
  }

  .cart-item h3 {
    font-size: 12px;
    text-align: center;
    font-weight: bolder;
  }

  .items-info .item-price {
    font-weight: bold;
  }
  .cart-container::before {
    content: "";
    background-color: rgb(230, 43, 74);
    border-radius: 50%;
    display: block;
    width: 50px;
    height: 50px;
    top: -5%;
    left: 35%;
    position: absolute;
    z-index: -2;
  }

  .actions button {
    width: 30px;
    height: 30px;
    font-size: large;
    border: 1px solid rgb(230, 43, 74);
    margin-left: 3px;
  }
}

.cart-container .check-out {
  background-color: rgb(230, 43, 74);
  box-shadow: 0 2px 6px 2px rgb(0, 0, 0, 0.28);
  color: white;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.cart-container .flexButton {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.cart-container .check-out:active {
  background-color: pink;
}

.cart-container .clear-cart {
  background-color: black;
  box-shadow: 0 2px 6px 2px rgba(248, 230, 230, 0.28);
  color: aliceblue;
  font-size: 12px;
  margin-top: 0.5rem;
  padding: 0.3rem;
}
