.cart-container {
  position: absolute;
  background-color: pink;
  border-radius: 20px;
  right: 1%;
  top: 10%;
  padding: 1rem;
  width: 30rem;
  height: 80vh;
  z-index: 1;
}

.cart-cancel button {
  position: absolute;
  right: 2%;
  width: 30px;
  height: 30px;
}

.cart-item {
  border: 1px dotted black;
  position: sticky;
  text-align: center;
  margin-top: 10%;
}

.cart-container::before {
  content: "";
  background-color: pink;
  border-radius: 50%;
  display: block;
  width: 50px;
  height: 50px;
  top: -1%;
  left: 35%;
  position: absolute;
  z-index: -2;
}

.cart-item li {
  list-style-type: none;
  border-bottom: 1px solid rgb(230, 43, 74);
  padding: 1.5rem;
}
.cart-item li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 3%;
}

.items-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 3%;
  margin-left: -15%;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.actions button {
  width: 30px;
  height: 30px;
  font-size: large;
  border: 2px solid rgb(230, 43, 74);
}

.actions p {
  text-align: center;
  font-size: large;
}
