.container {
  height: 300px;
  max-width: 30%;
  margin-top: 0.3rem;
  position: relative;
}

/* .container li {
  border: 10px solid rgb(241, 101, 127);
  background-color: rgb(241, 101, 127);
  border-radius: 20px;
  list-style-type: none;
}

li img {
  object-fit: cover;
  border-radius: 20px;
  background-color: rgb(241, 101, 127);
  overflow: hidden;
} */

.container .images {
  border: 10px solid rgb(241, 101, 127);
  background-color: rgb(241, 101, 127);
  border-radius: 20px;
  list-style-type: none;
  object-fit: fit;
  overflow: hidden;
  max-height: 100%;
}

.images img {
  border-radius: 20px;
}
