.container {
  height: 300px;
  max-width: 30%;
  margin-top: 0.3rem;
  position: relative;
}

.container .images {
  border: 10px solid rgb(241, 101, 127);
  background-color: rgb(241, 101, 127);
  border-radius: 20px;
  list-style-type: none;
  object-fit: fit;
  overflow: hidden;
  max-height: 100%;
}

.images img {
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .container {
    max-height: 250px;
    max-width: 60%;
    margin-top: 0.3rem;
    position: relative;
    margin-top: 0.2rem;
  }
  .container .images {
    overflow-y: hidden;
    max-height: 80%;
    object-fit: cover;
  }
}
